main{
    padding: 10rem 7rem 5rem;


    .hero{
        @include flex(row,center,flex-start,10rem);
       
        .hero-title{
            @include flex(column,flex-start,flex-start,2rem);

            h1{
                font-size: 6.5rem;
                font-weight: 700;
                line-height: 5rem;
                color: $dark-purple;
            }

            p{
                color: $dark-purple;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.8rem;
            }

            button{
                @include button;
                position: relative;
                overflow: hidden;

             &:hover{
             color: $dark-purple;
            }

             span{
                position: relative;
                z-index: 1;
             }

             &::before{
                @include transition;
                @include hover-effect;
                background-color: $light-purple;
             }

             &:hover::before{
                width: 300px;
                height: 300px;
             }
            }
        }

        img{
            height: 25rem;
            width: 25rem;
            object-fit: cover;
            border-radius: 1rem;
        }
    }
}