main{
    padding: 7rem 7rem 5rem;
    overflow-x: hidden;

    section{
        height: 80vh
    }

    .hero{
        @include flex(row,flex-start,flex-start,10rem);
       
        .hero-title{
            @include flex(column,flex-start,flex-start,2rem);

            h1{
                font-size: 6.5rem;
                font-weight: 700;
                line-height: 5rem;
                color: $dark-purple;
            }

            p{
                color: $dark-purple;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.8rem;
            }

            button{
                @include button;
                position: relative;
                overflow: hidden;

             &:hover{
             color: $dark-purple;
            }

             span{
                position: relative;
                z-index: .2;
             }

             &::before{
                @include transition;
                @include hover-effect;
                background-color: $light-purple;
             }

             &:hover::before{
                width: 300px;
                height: 300px;
             }
            }
        }

        .scene{
           @include scene;

            &.animate {
                    animation: bounce .7s alternate infinite ease;
                    transform: rotateY(20deg);
            }

             @include keyframes;

            .card{
              @include card;

            &.is-flipped{
                transform: skewX(1deg) rotateY(180deg);
            }


             img{
               @include card_img;
             }
            }
        }
    }

    .section-two{

        .scene_two{
            @include scene;

                &.animate {
                    animation: bounce .7s alternate infinite ease;
                    transform: rotateY(20deg);
                }

                @include keyframes;

                .card_two{
                    @include card;

                        &.is-flipped {
                            transform: skewX(1deg) rotateY(180deg);
                        }

                        img{
                            @include card_img;
                        }
                }
        }
    }
}