footer{
    @include flex(column,center,space-between,0);
    height: 100vh;
    padding: 3rem 4rem 1rem;

    .footer-section_one{
        padding: 2rem;
        @include flex(column,center,center,1rem);
        background-color: $pure-white;
        width: 95%;
        border-radius: 6.25rem;

        h3{
            color: $dark-purple;
            font-weight: 800;
            font-size: 1.25rem;
        }

        p{
            font-size: 1.25rem;
            color: $dark-purple;
            font-weight: 500;
        }
    }
}