.nav-toggle-menu{
    position: absolute;
    left: 2rem;
    top: 1.5rem;
    @include flex(row,center,space-between,.5rem);
    width: 11rem;
    padding: .4rem;
    background: $light-purple;
    z-index: 5;
    border-radius: 3.125rem;
    @include transition;

    &.active{
        width: 17rem;
        background-color: $dark-purple;
    }

    .logo{
        text-decoration: none;
        font-size: 2rem;
        color: $dark-purple;
        font-weight: 900;
        @include transition;
        margin-top: -2%;

        &.active{
            color: $light-purple;
        }
    }

         .menu-btn {
             @include button;
             @include transition;
             position: relative;
             overflow: hidden;

             &:hover{
                color: $dark-purple;
             }

             &.active{
                color: $dark-purple;
                background-color: $white;

                &::before{
                  visibility: hidden;
                }
             }

             span{
                position: relative;
                z-index: 1;
             }

             &::before{
                @include transition;
                @include hover-effect;
                background-color: $white;
             }

             &:hover::before{
                width: 300px;
                height: 300px;
             }
         }
}

.js-backdrop{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(22,12,31, 0.35);
    z-index: .5;
    visibility: hidden;


    &.active{
        visibility: visible;
    }
}