*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
}

body {
  background-color: #F8F2FC;
  overflow-x: hidden;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 1rem 1rem 0;
}
header nav .nav-toggle-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 11rem;
  padding: 0.4rem;
  margin-left: 2rem;
  background: #BA80E6;
  z-index: 6;
  border-radius: 3.125rem;
  transition: all 0.5s ease-in-out;
}
header nav .nav-toggle-menu.active {
  width: 17rem;
  background-color: #391952;
}
header nav .nav-toggle-menu .logo {
  text-decoration: none;
  font-size: 2rem;
  color: #391952;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  margin-top: -2%;
}
header nav .nav-toggle-menu .logo.active {
  color: #BA80E6;
}
header nav .nav-toggle-menu .menu-btn {
  all: unset;
  background-color: #391952;
  color: #F8F2FC;
  padding: 0.5625rem 1.25rem;
  border-radius: 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}
header nav .nav-toggle-menu .menu-btn:hover {
  color: #391952;
}
header nav .nav-toggle-menu .menu-btn.active {
  color: #391952;
  background-color: #F8F2FC;
}
header nav .nav-toggle-menu .menu-btn.active::before {
  visibility: hidden;
}
header nav .nav-toggle-menu .menu-btn span {
  position: relative;
  z-index: 1;
}
header nav .nav-toggle-menu .menu-btn::before {
  transition: all 0.5s ease-in-out;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #F8F2FC;
}
header nav .nav-toggle-menu .menu-btn:hover::before {
  width: 300px;
  height: 300px;
}
header nav button {
  all: unset;
  background-color: #391952;
  color: #F8F2FC;
  padding: 0.5625rem 1.25rem;
  border-radius: 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}
header nav button:hover {
  color: #391952;
}
header nav button span {
  position: relative;
  z-index: 1;
}
header nav button::before {
  transition: all 0.5s ease-in-out;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #BA80E6;
}
header nav button:hover::before {
  width: 300px;
  height: 300px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  position: absolute;
  width: fit-content;
  height: fit-content;
  border-radius: 1.25rem;
  padding: 3.5rem 1.5rem 1.5rem;
  top: 0.5rem;
  left: 2rem;
  z-index: 5;
  background-color: #391952;
  transform: scaleY(0);
  transform-origin: left -50%;
  transition-delay: 0.8s;
  transition: all 0.4s ease-in-out;
}
.nav-items.active {
  transform: scaleY(1);
}
.nav-items ul {
  list-style-type: none;
  display: none;
  transition: all 0.1s ease-in-out;
}
.nav-items ul.active {
  display: block;
}
.nav-items ul li a {
  color: #BA80E6;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 800;
  transition: all 0.5s ease-in-out;
}
.nav-items ul li a:hover {
  color: #F8F2FC;
}
.nav-items ul li:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.nav-items ul li:nth-of-type(2) a:not(:first-of-type) {
  color: #CBA5E9;
  font-size: 1.5rem;
  margin-left: 5%;
  transition: all 0.5s ease-in-out;
}
.nav-items ul li:nth-of-type(2) a:not(:first-of-type):hover {
  color: #F8F2FC;
}
.nav-items ul li:nth-of-type(3) a {
  color: #F8F2FC;
}
.nav-items hr {
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.3s;
}
.nav-items hr.active {
  opacity: 0.2;
}
.nav-items p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  color: #F8F2FC;
  font-size: 1.2rem;
  white-space: nowrap;
  font-weight: 700;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.3s;
}
.nav-items p.active {
  opacity: 1;
}

.js-backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(22, 12, 31, 0.35);
  z-index: 2;
  visibility: hidden;
}
.js-backdrop.active {
  visibility: visible;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}
main section {
  height: 90vh;
}
main .hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10rem;
}
main .hero .hero-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
main .hero .hero-title h1 {
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 5rem;
  color: #391952;
}
main .hero .hero-title p {
  color: #391952;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
}
main .hero .hero-title button {
  all: unset;
  background-color: #391952;
  color: #F8F2FC;
  padding: 0.5625rem 1.25rem;
  border-radius: 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
main .hero .hero-title button:hover {
  color: #391952;
}
main .hero .hero-title button span {
  position: relative;
  z-index: 0.2;
}
main .hero .hero-title button::before {
  transition: all 0.5s ease-in-out;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #BA80E6;
}
main .hero .hero-title button:hover::before {
  width: 300px;
  height: 300px;
}
main .hero .scene {
  width: 27rem;
  height: 27rem;
  perspective: 1000px;
  transition: all 0.3s ease-in-out;
}
main .hero .scene.animate {
  animation: bounce 0.7s alternate infinite ease;
  transform: rotateY(20deg);
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}
main .hero .scene .card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}
main .hero .scene .card.is-flipped {
  transform: skewX(1deg) rotateY(180deg);
}
main .hero .scene .card img {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
  object-fit: cover;
  border-radius: 1rem;
}
main .section-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 13rem;
}
main .section-two .scene_two {
  width: 27rem;
  height: 27rem;
  perspective: 1000px;
  transition: all 0.3s ease-in-out;
  margin-left: 10rem;
}
main .section-two .scene_two.animate {
  animation: bounce 0.7s alternate infinite ease;
  transform: rotateY(20deg);
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}
main .section-two .scene_two .card_two {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}
main .section-two .scene_two .card_two.is-flipped {
  transform: skewX(1deg) rotateY(180deg);
}
main .section-two .scene_two .card_two img {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
  object-fit: cover;
  border-radius: 1rem;
}
main .section-two .section-two_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
main .section-two .section-two_title h2 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 4rem;
  color: #391952;
}
main .section-two .section-two_title p {
  color: #391952;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  white-space: nowrap;
}
main .section-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
}
main .section-three .abs-img_one {
  position: absolute;
  right: -5rem;
  top: 1rem;
  height: 225px;
  width: 225px;
  object-fit: cover;
}
main .section-three .abs-img_two {
  position: absolute;
  left: -7rem;
  bottom: -4rem;
  height: 350px;
  width: 350px;
  object-fit: contain;
}
main .section-three .section-three_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 33.5625rem;
  width: 87.5rem;
  background-color: #391952;
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
  text-align: center;
}
main .section-three .section-three_content img {
  position: absolute;
}
main .section-three .section-three_content h2 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 4rem;
  color: #F8F2FC;
  z-index: 1;
}
main .section-three .section-three_content p {
  color: #F8F2FC;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  white-space: nowrap;
  z-index: 1;
}
main .section-four {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
}
main .section-four h2 {
  text-transform: uppercase;
  font-size: 14rem;
  font-weight: 900;
  white-space: nowrap;
  color: #391952;
}
main .section-four div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;
  position: absolute;
  height: 28.25rem;
  width: 28.25rem;
  border-radius: 1.5rem;
  padding: 2.5rem;
}
main .section-four div h3 {
  font-size: 1.8125rem;
  font-weight: 800;
  color: #391952;
}
main .section-four div p {
  font-size: 5rem;
  font-weight: 700;
  color: #391952;
  line-height: 4rem;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}
main .section-four div:nth-of-type(1) {
  background-color: #FFFFFF;
  transform: rotate(-10deg);
}
main .section-four div:nth-of-type(2) {
  background-color: #E9D5F7;
  transform: rotate(-6deg);
}
main .section-four div:nth-of-type(3) {
  background-color: #CBA5E9;
  transform: rotate(-3.5deg);
}
main .section-four div:nth-of-type(4) {
  background-color: #BA80E6;
}
main .section-five {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
main .section-five .section-five_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
main .section-five .section-five_title h2 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 4rem;
  color: #391952;
}
main .section-five .section-five_title p {
  color: #391952;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
}
main .section-five .section-five_title a {
  font-size: 1.5rem;
  color: #391952;
  font-weight: 900;
}
main .section-five .scene_three {
  width: 27rem;
  height: 27rem;
  perspective: 1000px;
  transition: all 0.3s ease-in-out;
}
main .section-five .scene_three.animate {
  animation: bounce 0.7s alternate infinite ease;
  transform: rotateY(20deg);
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}
main .section-five .scene_three .card_three {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}
main .section-five .scene_three .card_three.is-flipped {
  transform: skewX(1deg) rotateY(180deg);
}
main .section-five .scene_three .card_three img {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
  object-fit: cover;
  border-radius: 1rem;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  height: 100vh;
  padding: 3rem 4rem 1rem;
}
footer .footer-section_one {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #FFFFFF;
  width: 95%;
  border-radius: 6.25rem;
}
footer .footer-section_one h3 {
  color: #391952;
  font-weight: 800;
  font-size: 1.25rem;
}
footer .footer-section_one p {
  font-size: 1.25rem;
  color: #391952;
  font-weight: 500;
}

/*# sourceMappingURL=main.css.map */
